<button mat-icon-button class="close" aria-label="Close" title="Close" style="float: right;" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>{{couponName ? ('coupon.management.Edit' | translate:couponName) : ('coupon.management.NewCoupon' | translate)}}</h1>
<app-coupon-editor [coupon]="data.coupon" isEditMode="isEditMode"></app-coupon-editor>
<div class="spacer"></div>
<div>
  <button mat-raised-button (click)="couponControl.save()" [disabled]="!couponControl.isNameGood"  color="primary">Save</button>&nbsp;
  <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
</div>
