<form #form="ngForm" [formGroup]="questionForm" novalidate fxLayout="column" fxLayoutGap="1em" autocomplete="off">
  <div  class='uh-ack-justify'>
    <p><b>Sections 1: Usage-Based Services/Nonprofessional Subscriber Status</b></p>
    <p>{{section1para0}}</p>
    <p><b>Sections 2: Trems and Conditions</b></p>
    <p>{{section2para0}}</p>
    <p>{{section2para1}}</p>
    <p>{{section2para2}}</p>
    <!--Questions Section-->
    <p><b>Sections 3: Questions</b></p>
    <div formArrayName="questions" *ngFor="let order of questionsFormArray.controls; let i = index">
      <div>{{i+1}}.&nbsp;{{questionsData[i].question}}</div>
      <div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName={{i}}>
          <mat-radio-button class="example-radio-button" *ngFor="let option of answerTypes" [value]="option" (change)="radioChange($event,questionsData[i])">{{option}}&nbsp;</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="spacer"></div>
    </div>
    <!--End Questions Section-->
    <p><b>Sections 4: Certifcation</b></p>
    <p>{{section4para0}}</p>
  </div>
  <div fxLayout="column" fxLayout.lt-md="row" fxLayoutGap="1em">
    <mat-slide-toggle (change)="aknowledgeReadMe($event)" formControlName="acceptTerms"><strong>{{'users.editor.AcceptTerms' | translate}}</strong></mat-slide-toggle>
    <mat-error *ngIf="acceptTerms.hasError('required')">
      {{'users.editor.AcceptTermsRequired' | translate}}
    </mat-error>
  </div>
</form>
