<div class="col-md-4">
  <div class="shadow-sm card action-buttons">
    <button (click)="generatePdf('open')"
            class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="material-icons">
        picture_as_pdf
      </i> <span>Open PDF</span>
    </button>
    <!--<button (click)="generatePdf('download')"
            class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="material-icons">
        cloud_download
      </i><span>Download PDF</span>
    </button>
    <button (click)="generatePdf('print')"
            class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="material-icons">
        print
      </i><span>Print PDF</span>
    </button>-->
  </div>
