<div class="header">
  <div class="logo"><div class="logoimg"></div></div>
  <div class="topRight"><a href="https://www.hoodcapitaluh.com/" target="_blank">Visit Website</a></div>


</div>

<div class="page-content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

  <div class="spacer"></div>

  <div>
    <mat-card class="mat-elevation-z6">
      <form #form="ngForm" [formGroup]="forgotForm" (ngSubmit)="forgot()" novalidate class="app-login-form">
        <div class="register-form-title">
          <h3>{{'resetPassword.Title' | translate}}</h3>
          <p class="uh-ack-center">
            <span>{{'resetPassword.subTitle' | translate}}</span>
          </p>
        </div>
        <div class="spacer"></div>
        <mat-card-content>
          <mat-form-field class="app-validate">
            <mat-label>{{'users.editor.Email' | translate}}</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="email.hasError('required')">
              {{'users.editor.EmailRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="!email.hasError('required') && email.hasError('pattern')">
              {{'users.editor.InvalidEmail' | translate}}
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div class="social-logins-buttons" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch; max-width: 100%;">
            <button mat-raised-button color="primary">{{'resetPassword.sendInstructions' | translate | uppercase}}</button>
          </div>
        </mat-card-actions>
        <mat-card-footer>
          <div class="uh-ack-center">
            <button mat-button class="uh-link-bold uh-noline uh-noline uh-link-color" routerLink="/login">{{'mainMenu.SignIn' | translate}}</button>
          </div>
          <div class="spacer"></div>
         
          <div class="spacer"></div>
          <div class="spacer"></div>
        </mat-card-footer>
      </form>

    </mat-card>

  </div>
</div>


<footer>
  <div class="uh-ack-center-one">{{'messages.ackMessage' | translate }} <a target="_blank" data-uid="id-4" href="#" role="link" class="uh-link-bold uh-link-color">{{'messages.ackMessageTerms' | translate }}</a> {{'messages.ackMessageTerms1' | translate }} <a target="_blank" data-uid="id-5" href="#" role="link" class="uh-link-bold uh-link-color">{{'messages.ackMessagePrivacy' | translate }}</a>.</div>
  <p class="text-copyright">© 2021 Urbanhood. Powered by <a class="color_primary" href="https://www.urbanfoodalliance.org/" target="_blank">Urbanfood Alliance</a> </p></footer>

