::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
.single-stepperButton {
  display: flex;
  justify-content: flex-end;
}

.stepperButton {
  display: flex;
  justify-content: space-between;
}
mat-spinner {
  display: inline-block;
  margin-right: 16px;
}
