.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.spacer {
  height: 5px;
}
mat-spinner {
  display: inline-block;
  margin-right: 16px;
}
