<div class="header">
  <div class="logo"><div class="logoimg"></div></div>
  <div class="topRight"><a href="https://www.hoodcapitaluh.com/" target="_blank">Visit Website</a></div>


</div>

<div class="page-content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

  <div class="spacer"></div>
  <div>
    <mat-card class="mat-elevation-z6">
      <div class="uh-mat-header">
        <div class="uh-mat-header-title">{{'pageHeader.LoginPageTitle' | translate}}</div>
        <div class="spacer"></div>
        <div class="uh-ack-center">{{'pageHeader.LoginPageSubTitle' | translate}}</div>
        <div class="uh-ack-center"><i>or</i></div>
        <div class="uh-ack-center">{{'pageHeader.LoginPageSubTitle1' | translate}}</div>
      </div>
      <div class="spacer"></div>
      <mat-card-content>
        <app-login-control [isModal]="false" (enterKeyPress)="loginControl.login()"></app-login-control>
      </mat-card-content>


      <mat-card-actions>
        <div style="flex-direction: row;box-sizing: border-box; display: flex;">
          <button mat-raised-button color="primary" [disabled]="loginControl.isLoading" (click)="loginControl.login()">
            <mat-spinner *ngIf="loginControl.isLoading" [diameter]="20"></mat-spinner>{{'mainMenu.Login' | translate | uppercase}}
          </button>
          <div style="flex: 1 1 0%; box-sizing: border-box;"></div>
          <button mat-button routerLink="/forgotpassword">{{'mainMenu.ForgotPassword' | translate | uppercase}}</button>
          <mat-divider role="separator" vertical></mat-divider>
          <button mat-button routerLink="/register">{{'mainMenu.Register' | translate | uppercase}}</button>
        </div>
        <div class="mat-typography uh-material-login-social-logins-divider" style="flex-direction:row;box-sizing: border-box;
              display: flex;place-content:center space-around;align-items: center;">
          <mat-divider role="separator" class="mat-divider-horizontal mat-divider-inset" horizontal></mat-divider>
          <span>or</span>
          <mat-divider role="separator" class="mat-divider-horizontal mat-divider-inset" horizontal></mat-divider>
        </div>

        <div fxlayout="column" fxlayoutalign="space-between stretch" class="social-logins-buttons" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch; max-width: 100%;">
          <!--<button mat-raised-button class="mat-google" (click)="authService.GoogleAuth()">
            <mat-icon svgIcon="google"></mat-icon>
            <span class="text-content">{{'login.Google' | translate}}</span>
          </button>
          <button mat-raised-button class="mat-facebook" (click)="authService.FacebookAuth()">
            <mat-icon svgIcon="facebook"></mat-icon>
            <span class="text-content">{{'login.Facebook' | translate}}</span>
          </button>
          <button mat-raised-button class="mat-twitter" (click)="authService.TwitterAuth()">
            <mat-icon svgIcon="twitter"></mat-icon>
            <span class="text-content">{{'login.Twitter' | translate}}</span>
          </button>-->
          <button mat-raised-button class="mat-microsoft" (click)="authService.MicrosoftAuth()">
            <mat-icon svgIcon="microsoft"></mat-icon>&nbsp;
            <span class="text-content">{{'login.Microsoft' | translate}}</span>
          </button>
        </div>

      </mat-card-actions>
     
    </mat-card>
  </div>
</div>

<footer><p class="text-copyright">
  <mat-card-footer>
    <div class="uh-ack-center">{{'messages.ackMessage' | translate }} <a target="_blank" data-uid="id-4" href="#" role="link" class="uh-link-bold uh-link-color">{{'messages.ackMessageTerms' | translate }}</a> {{'messages.ackMessageTerms1' | translate }} <a target="_blank" data-uid="id-5" href="#" role="link" class="uh-link-bold uh-link-color">{{'messages.ackMessagePrivacy' | translate }}</a>.</div>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </mat-card-footer>
  © 2021 Urbanhood. Powered by <a class="color_primary" href="https://www.urbanfoodalliance.org/" target="_blank">Urbanfood Alliance</a> </p>
</footer>
