<button mat-icon-button class="close" aria-label="Close" title="Close" style="float: right;" (click)="cancel()">
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>{{('users.management.NewUser' | translate)}}</h1>

<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="profileControl.userProfileForm">
    <ng-template matStepLabel>{{'profile.stepper.Profile' | translate}}</ng-template>
    <div class="single-stepperButton">
      <button (click)="onStepperNext()" mat-raised-button color="primary" [disabled]="((!profileControl.userProfileForm.valid))">Next</button>
    </div>
    <div class="spacer"></div>
    <app-profile-control [isEditMode]="isEditMode"></app-profile-control>
    <div class="spacer"></div>
    <div class="single-stepperButton">
      <button (click)="onStepperNext()" mat-raised-button color="primary" [disabled]="((!profileControl.userProfileForm.valid))">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'profile.stepper.Subscription' | translate}}</ng-template>
    <div class="stepperButton">
      <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
      <button (click)="onStepperNext()" mat-raised-button color="primary" [disabled]="!subscriptionControl.isSubscriptionSelected">Next</button>
    </div>
    <div class="spacer"></div>
    <app-subscription></app-subscription>
    <div class="spacer"></div>
    <div class="stepperButton">
      <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
      <button (click)="onStepperNext()" mat-raised-button color="primary" [disabled]="!subscriptionControl.isSubscriptionSelected">Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="paymentControl.stripeTest">
    <ng-template matStepLabel>{{'profile.stepper.Payment' | translate}}</ng-template>
    <div class="spacer"></div>
    <div class="stepperButton">
      <button mat-raised-button color="accent" [disabled]="isPaymentProcessing" matStepperPrevious>Previous</button>
      <button (click)="onStepperNext()" mat-raised-button color="primary" [disabled]="isPaymentProcessing" *ngIf="enablePaymentStep">
        <mat-spinner *ngIf="isPaymentProcessing" [diameter]="20"></mat-spinner>Pay
      </button>
      <button (click)="freeSubscriptionSetup()" mat-raised-button color="primary" [disabled]="isPaymentProcessing" *ngIf="!enablePaymentStep">
        <mat-spinner *ngIf="isPaymentProcessing" [diameter]="20"></mat-spinner>Next
      </button>
    </div>
    <div class="spacer"></div>
    <app-payment-token></app-payment-token>
    <div class="spacer"></div>
    <div class="stepperButton">
      <button mat-raised-button color="accent" [disabled]="isPaymentProcessing" matStepperPrevious>Previous</button>
      <button (click)="onStepperNext()" mat-raised-button color="primary" [disabled]="isPaymentProcessing" *ngIf="enablePaymentStep">
        <mat-spinner *ngIf="isPaymentProcessing" [diameter]="20"></mat-spinner>Pay
      </button>
      <button (click)="freeSubscriptionSetup()" mat-raised-button color="primary" [disabled]="isPaymentProcessing" *ngIf="!enablePaymentStep">
        <mat-spinner *ngIf="isPaymentProcessing" [diameter]="20"></mat-spinner>Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="summaryControl">
    <ng-template matStepLabel>{{'profile.stepper.Summary' | translate}}</ng-template>
    <div class="spacer"></div>
    <app-summary-control></app-summary-control>
    <div class="spacer"></div>
   </mat-step>
</mat-horizontal-stepper>
