<!--<app-page-header title="DailyTrades" icon="assignment"></app-page-header>-->
<div>
  <div class="spacer"></div>
  <h1>Today's Trades</h1>
  <div class="search-box" *ngIf="(isOptionsTradeLoaded$|async) && recordFound">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'options.management.Search' | translate}}">
    </mat-form-field>
  </div>

  <!--<div class="mat-elevation-z8">-->
  <div>
    <!--<mat-progress-bar *ngIf="loadingIndicator$|async" mode="query"></mat-progress-bar>-->
    <div style="display: flex; justify-content: flex-end">
      <mat-icon class="mat-button-icon green-check-icon">lock_open</mat-icon>Option Trade Open&nbsp;|&nbsp;
      <mat-icon class="mat-button-icon green-check-icon">lock</mat-icon>Option Trade Closed&nbsp;|&nbsp;
      <mat-icon class="mat-button-icon stock-check-icon">lock_open</mat-icon>Stock Trade Open&nbsp;|&nbsp;
      <mat-icon class="mat-button-icon stock-check-icon">lock</mat-icon>Stock Trade Closed
    </div>
    <div style="display: flex; justify-content: flex-end">
      <button mat-button color="primary" matTooltip="{{'options.management.NewTicker' | translate}}" (click)="newTrade()" *ngIf="canManageDailyTrade || canManageOptionTrade">
        <mat-icon class="mat-button-icon">assignment</mat-icon>{{'options.management.NewTicker' | translate}}
      </button>
      <button mat-button color="primary" matTooltip="{{'options.management.Refresh' | translate}}" (click)="reloadOptions()">
        <mat-icon class="mat-button-icon" (click)="reloadOptions()">
          refresh
        </mat-icon>Reload
      </button>
    </div>
    <mat-table [dataSource]="dataSource" matSort matSortActive="createdon" matSortDirection="desc">
      <ng-container matColumnDef="symbol">
        <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header> {{'options.management.Symbol' | translate}} </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let row"> {{row.symbol}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="postedby">
        <mat-header-cell fxFlex="15%" *matHeaderCellDef mat-sort-header> {{'options.management.PostedBy' | translate}} </mat-header-cell>
        <mat-cell fxFlex="15%" *matCellDef="let row"> {{row.postedby}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tradetype">
        <mat-header-cell fxFlex="15%" *matHeaderCellDef mat-sort-header> {{'options.management.TradeType' | translate}} </mat-header-cell>
        <mat-cell fxFlex="15%" *matCellDef="let row">
          {{
((row.spread.length>0 && row.currentStockPrice.length>0) ?'options.management.TradeTypes':
          (row.spread.length>0)?'options.management.TradeTypes1':'options.management.TradeTypes2')| translate
          }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdon">
        <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header> {{'options.management.CreatedOn' | translate}} </mat-header-cell>
        <mat-cell fxFlex="20%" *matCellDef="let row">{{checkDate(row.createdon)| date: 'EEEE, MMMM d, y'}} </mat-cell>
      </ng-container>
      <ng-container *ngIf="canManageDailyTrade || canViewOptionTrade || canManageOptionTrade" matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="15%">
          {{'options.management.ViewDetails' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let ticker">
          <!--<button mat-icon-button matTooltip="{{'options.management.ViewDetails' | translate}}" (click)="ViewComments(ticker)">
            <mat-icon>comment</mat-icon>
          </button>-->
          <button mat-icon-button matTooltip="{{'options.management.StillOpen' | translate}}" (click)="ViewOpenOptionComments(ticker)" *ngIf="ticker.trans.length>0 && (ticker.isoptionactive|| ticker.isoptionactive==null)">
            <mat-cell> <mat-icon class="mat-button-icon green-check-icon">lock_open</mat-icon></mat-cell>
          </button>
          <button mat-icon-button matTooltip="{{'options.management.Closed' | translate}}" (click)="ViewClosedOptionComments(ticker)" *ngIf="ticker.trans.length>0 && (!ticker.isoptionactive  && ticker.isoptionactive!=null)">
            <mat-cell><mat-icon class="mat-button-icon green-check-icon">lock</mat-icon>  </mat-cell>
          </button>

          <button mat-icon-button matTooltip="{{'options.management.StillOpen' | translate}}" (click)="ViewOpenStockComments(ticker)" *ngIf="ticker.currentStockPrice.length>0 && (ticker.isstockactive || ticker.isstockactive==null)">
            <mat-cell> <mat-icon class="mat-button-icon stock-check-icon">lock_open</mat-icon></mat-cell>
          </button>
          <button mat-icon-button matTooltip="{{'options.management.Closed' | translate}}" (click)="ViewClosedStockComments(ticker)" *ngIf="ticker.currentStockPrice.length>0 && (!ticker.isstockactive && ticker.isstockactive!=null)">
            <mat-cell><mat-icon class="mat-button-icon stock-check-icon">lock</mat-icon>  </mat-cell>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    <!--</div>-->
    <div style="display: flex; justify-content: center" *ngIf="!recordFound">
      <h2>No Data Found!</h2>
    </div>
  </div>
</div>
