<mat-card class="mat-elevation-z8" fxLayout.lt-lg="column">
    <div>
      <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="symbol">
          <mat-header-cell fxFlex="40%" *matHeaderCellDef mat-sort-header> {{'stockoftheday.management.Symbol' | translate}} </mat-header-cell>
          <mat-cell fxFlex="40%" *matCellDef="let row"> {{row.symbol}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="support">
          <mat-header-cell fxFlex="40%" *matHeaderCellDef mat-sort-header> {{'stockoftheday.management.Support' | translate}} </mat-header-cell>
          <mat-cell fxFlex="40%" *matCellDef="let row"> {{row.support}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell fxFlex="40%" *matHeaderCellDef mat-sort-header> {{'stockoftheday.management.Type' | translate}} </mat-header-cell>
          <mat-cell fxFlex="40%" *matCellDef="let row"> {{row.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tradingpricerange">
          <mat-header-cell fxFlex="40%" *matHeaderCellDef mat-sort-header> {{'stockoftheday.management.TradingPriceRange' | translate}} </mat-header-cell>
          <mat-cell fxFlex="40%" *matCellDef="let row"> {{row.tradingpricerange}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="stoploss">
          <mat-header-cell fxFlex="40%" *matHeaderCellDef mat-sort-header> {{'stockoftheday.management.stoploss' | translate}} </mat-header-cell>
          <mat-cell fxFlex="40%" *matCellDef="let row"> {{row.stoploss}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef fxFlex="100px">
            <button mat-button color="primary" matTooltip="{{'users.management.Refresh' | translate}}" (click)="reloadDailyTickers()">
              <mat-icon class="mat-button-icon">refresh</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell fxFlex="5%" *matCellDef="let row"></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>

</mat-card>
