<mat-card class="mat-elevation-z8" fxLayout.lt-lg="column">
  <div>

    <mat-progress-bar *ngIf="(loadingUserOptionTradeIndicator$|async) && (loadingIndicator$|async)" mode="query"></mat-progress-bar>
    <div *ngIf="(isUserOptionTradeLoaded$|async) && (isOptionsTradeLoaded$|async) && recordFound">
      <div class="spacer"></div>
      <div style="display: flex; justify-content: flex-end">
        <mat-icon class="mat-button-icon green-check-icon">lock_open</mat-icon>Option Trade Open&nbsp;|&nbsp;
        <mat-icon class="mat-button-icon green-check-icon">lock</mat-icon>Option Trade Closed
      </div>
      <div style="display: flex; justify-content: flex-end">
        <button mat-button color="primary" matTooltip="{{'options.management.Refresh' | translate}}" (click)="reloadOptions()">
          <mat-icon class="mat-button-icon" (click)="reloadOptions()">
            refresh
          </mat-icon>Reload
        </button>
      </div>
      <mat-table [dataSource]="dataSource" matSort matSortActive="createdOn" matSortDirection="desc">

        <ng-container matColumnDef="symbol">
          <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header> {{'options.management.Symbol' | translate}} </mat-header-cell>
          <mat-cell fxFlex="20%" *matCellDef="let row"> {{row.symbol}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postedBy">
          <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header> {{'options.management.PostedBy' | translate}} </mat-header-cell>
          <mat-cell fxFlex="20%" *matCellDef="let row"> {{row.postedby}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdOn">
          <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header> {{'options.management.CreatedOn' | translate}} </mat-header-cell>
          ch
          <mat-cell fxFlex="20%" *matCellDef="let row">{{checkDate(row.createdon)| date: 'EEEE, MMMM d, y'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef fxFlex="15%">
            {{'options.management.ViewDetails' | translate}}
            <!--<button mat-button color="primary" matTooltip="{{'options.management.Refresh' | translate}}" (click)="reloadOptions()">
            <mat-icon class="mat-button-icon">refresh</mat-icon>
          </button>-->
          </mat-header-cell>
          <mat-cell *matCellDef="let ticker">
            <!--<button mat-icon-button matTooltip="{{'options.management.ViewDetails' | translate}}">
            <mat-icon>comment</mat-icon>
          </button>-->

            <button mat-icon-button matTooltip="{{'options.management.StillOpen' | translate}}" (click)="ViewOpenOptionComments(ticker)" *ngIf="ticker.trans.length>0 && (ticker.isoptionactive|| ticker.isoptionactive==null)">
              <mat-cell> <mat-icon class="mat-button-icon green-check-icon">lock_open</mat-icon></mat-cell>
            </button>
            <button mat-icon-button matTooltip="{{'options.management.Closed' | translate}}" (click)="ViewClosedOptionComments(ticker)" *ngIf="ticker.trans.length>0 && (!ticker.isoptionactive  && ticker.isoptionactive!=null)">
              <mat-cell><mat-icon class="mat-button-icon green-check-icon">lock</mat-icon>  </mat-cell>
            </button>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
    <div style="display: flex; justify-content: center" *ngIf="!recordFound">
      <h2>No Data Found!</h2>
    </div>

  </div>
</mat-card>
