
.green-check-icon {
  color: forestgreen;
}

.stock-check-icon {
  color: darksalmon
}

.stockclosed-check-icon {
  color: lightcoral
}

.red-check-icon {
  color: red;
}

.spacer {
  height: 20px;
}
